.navbar-background{
    background-color: gray;
    
}
.slider-background{
    background-color: #fceae8;
}
.btn{
    background-color: #d63384;
    color: white;
}
h2{
    color:#d63384 ;
}
.form{
    background-color: #fceae8
}